{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class='text-white' style="background-image: url('static/img/world_image.jpg'); 
    background-size: cover; height:720px; padding-top:40px;">
    <center>
        <h1>WELCOME TO DJANGO NEWS</h1>
        <h5>Browse Articles/Topics from 4 Different News Source</h5>
    </center>
    <br>
  
    <div class='container'>    
        <div class="row row-cols-2 row-cols-md-4">
        
                {% for link in urls %}
                
                <div class="col mb-4">
                    <a href="/news/{{link}}">
                    <div class="card text-white bg-dark mb-3 h-100">
                        <img src="static/img/{{link}}.jpg"  class="card-img-top " alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{link|upper}}</h5>                         
                        </div>
                    </div>
                    </a>
                </div>
                
                {% endfor %}
            </div> 
        </div>

    </div>
       

 
      
    
        
</div>


{% endblock content %}
